body{
    background-color: #f5f5f5;
}

.pre-loader{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.513);
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    top: 0;
}
@keyframes loader {
    from{
        transform: rotate(0deg);
    }
    from{
        transform: rotate(-360deg);
    }
}
.pre-loader span{
    display: block;
    width: 80px;
    height: 80px;
    border: 10px solid;
    border-radius: 100%;
    border-left-color: red;
    border-right-color: blue;
    border-top-color: green;
    border-bottom-color: yellow;
    animation: loader 1s infinite;
}
#sensors-list{
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}
#sensors-list li{
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #f5f5f5;
    margin: 2px;
    text-transform: uppercase;
}
#phone-details img{
    transition: 0.2s;
}
#phone-details img:hover{
    transform: scale(1.1);
}
.search-form{
    background-color: rgb(216, 249, 255);
    margin-bottom: 50px;
}
@media screen and (max-width:767px) {
    #search-btn{
        width: 100%;
    }
}
#load-all{
    display: none;
    margin: 0 auto;
}